APP_ENV=development
ADMIN_DATABASE_URL=mysql+pymysql://root:password@127.0.0.1:3306/nexora_admin
NEXORA_DATABASE_URL=mysql+pymysql://root:password@127.0.0.1:3306/nexora
CORS_ORIGINS=["http://localhost:3000"]
SERVICE_API_KEY=replace-with-a-long-random-value
SECRET_KEY=replace-with-another-long-random-value

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_ADMIN_USER=root
MYSQL_ADMIN_PASSWORD=password
MYSQL_APP_USER=nexora_client_rw
MYSQL_APP_PASSWORD=replace-me
MYSQL_TEMPLATE_DATABASE=nexora_dev

CLICKHOUSE_HOST=127.0.0.1
CLICKHOUSE_PORT=9000
CLICKHOUSE_ADMIN_USER=default
CLICKHOUSE_ADMIN_PASSWORD=
CLICKHOUSE_APP_USER=nexora
CLICKHOUSE_APP_PASSWORD=replace-me
CLICKHOUSE_TEMPLATE_DATABASE=nexora_dev

SENDGRID_API_KEY=
EMAIL_FROM_ADDRESS=admin@usenexora.com
EMAIL_FROM_NAME=Nexora
EMAIL_LOGO_URL=https://usenexora.com/wp-content/uploads/2025/06/logo-ar-final.png
CLIENT_DASHBOARD_BASE_URL=https://me.usenexora.com
